{% if forloop.index == 12 %}
        {% if collection.handle == 'eyeglasses-for-men' or collection.handle == 'eyeglasses-for-women' or collection.handle == 'eyeglasses' %}
    	{% if settings.collection_ban_1 %}
		<div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_1 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_1 | img_url: '700x420', crop: 'right' }}" alt"" /> -->
          <img class="" src="{{ settings.collection_ban_1 | img_url: '700x420' }}" alt"" />
                       
          <div class="text-wrapper">            
            <h1 class="header">{{ settings.seo_header }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header }}</div>

            {% if settings.sub-seo_header1 %}
            <div class="sub-header">{{ settings.sub-seo_header1 }}</div>
            {% endif %}            
        </div>
          </a>
		</div>        
        {% endif %}
{% endif %} 

        {% if collection.handle == 'sunglasses-for-men' or collection.handle == 'sunglasses-for-women' or collection.handle == 'sunglasses' %}
         <div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_5 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_5 | img_url: '700x420', crop: 'right' }}" alt"" /> -->
            <img class="" src="{{ settings.collection_ban_5 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_5 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_5 }}</div>

            {% if settings.sub-seo_header1_5 %}
            <div class="sub-header">{{ settings.sub-seo_header1_5 }}</div>
            {% endif %}
          </div>
          </a>
		</div>          
        {% endif %} 
{% endif %}

{% if forloop.index == 24 %}
        {% if collection.handle == 'eyeglasses-for-men' or collection.handle == 'eyeglasses-for-women' or collection.handle == 'eyeglasses' %}
        <div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_2 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_2 | img_url: '1460x' }}" alt"" />   -->
            <img class="" src="{{ settings.collection_ban_2 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_2 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_2 }}</div>

            {% if settings.sub-seo_header1_2 %}
            <div class="sub-header">{{ settings.sub-seo_header1_2 }}</div>
            {% endif %}
          </div>
          </a>
		</div>        
        {% endif %}

{% if collection.handle == 'sunglasses-for-men' or collection.handle == 'sunglasses-for-women' or collection.handle == 'sunglasses' %}
         <div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_6 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_6 | img_url: '1460x' }}" alt"" /> -->
            <img class="" src="{{ settings.collection_ban_6 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_6 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_6 }}</div>

            {% if settings.sub-seo_header1_6 %}
            <div class="sub-header">{{ settings.sub-seo_header1_6 }}</div>
            {% endif %}
          </div>
          </a>
		</div>          
        {% endif %}

{% endif %}

{% if forloop.index == 36 %}
        {% if collection.handle == 'eyeglasses-for-men' or collection.handle == 'eyeglasses-for-women' or collection.handle == 'eyeglasses' %}
       <div class="collection-img-container">
         <a href="{{ settings.collection_ban_link_3 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_3 | img_url: '1460x' }}" alt"" /> -->
           <img class="" src="{{ settings.collection_ban_3 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_3 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_3 }}</div>

            {% if settings.sub-seo_header1_3 %}
            <div class="sub-header">{{ settings.sub-seo_header1_3 }}</div>
            {% endif %}
         </div>
         </a>
		</div>       
        {% endif %}  
{% if collection.handle == 'sunglasses-for-men' or collection.handle == 'sunglasses-for-women' or collection.handle == 'sunglasses' %}
         <div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_7 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_7 | img_url: '1460x' }}" alt"" /> -->
            <img class="" src="{{ settings.collection_ban_7 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_7 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_7 }}</div>

            {% if settings.sub-seo_header1_7 %}
            <div class="sub-header">{{ settings.sub-seo_header1_7 }}</div>
            {% endif %}
          </div>
          </a>
		</div>          
        {% endif %}

{% endif %}


{% if forloop.index == 48 %}
        {% if collection.handle == 'eyeglasses-for-men' or collection.handle == 'eyeglasses-for-women' or collection.handle == 'eyeglasses' %}
        <div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_4 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_4 | img_url: '1460x' }}" alt"" /> -->
            <img class="" src="{{ settings.collection_ban_4 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_4 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_4 }}</div>

            {% if settings.sub-seo_header1_4 %}
            <div class="sub-header">{{ settings.sub-seo_header1_4 }}</div>
            {% endif %}
          </div>
          </a>
		</div>       
        {% endif %}
{% if collection.handle == 'sunglasses-for-men' or collection.handle == 'sunglasses-for-women' or collection.handle == 'sunglasses' %}
         {% if settings.collection_ban_8 %}
<div class="collection-img-container">
          <a href="{{ settings.collection_ban_link_8 }}">
          <!-- <img class="desktop_image" src="{{ settings.collection_ban_8 | img_url: '1460x' }}" alt"" /> -->
            <img class="" src="{{ settings.collection_ban_8 | img_url: '700x420' }}" alt"" />
          <div class="text-wrapper">
            <h1 class="header">{{ settings.seo_header_8 }}</h1>
            <div class="sub-header">{{ settings.sub-seo_header_8 }}</div>

            {% if settings.sub-seo_header1_8 %}
            <div class="sub-header">{{ settings.sub-seo_header1_8 }}</div>
            {% endif %}
          </div>
          </a>
		</div>          
        {% endif %}
{% endif %}
{% endif %}