<div class="coating_lens_model coating_lens_model_anti">
  <div class="inner-model">
    <div class="heading_container text-left">
<!--       <div class="heading xs-show text-center">Select Coating</div> -->
      <div class="heading">Add Transition Coating <span class="optional_coating">(Optional)</span></div>
      <div class="sub_heading">Lenses darkens when exposed to sunlight</div>
      <span class="close_coated">&times;</span>
    </div>
    
    <div class="innder_container">
      <p class="text-center title xs-hide">{{block.settings.lens_name }}</p>
      <div class="xs-hide">{{ product_name.price | money }}</div>
      <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Transition_Banner.png?v=1584081801" alt="Coated lens" />
      <div class="innder_container_btn">
        <div class="xs-show name_price_mobile">
          <div class="titlee">{{block.settings.lens_name }}</div>
          <div class="pricee">{{ product_name.price | money }}</div>
        </div>
      <div class=" applycoating btn"><span class="xs-hide">Apply Coating</span><span class="xs-show">Add</span></div>
      <div class=" removecoating hide btn"><span class="xs-hide">Remove Coating</span><span class="xs-show">Remove</span></div>
      </div>
    </div>
    
    <div class="ordertotal_coating withoutcoating_price">Total : <span class="price_coating"> {{ frameprice | money }}</span><span class="frame_lens_text"> (Frame + Lens)</span></div>
    <div class="ordertotal_coating withcoating_price hide">Total : <span class="price_coating"> {{ lensprice | money }}</span><span class="frame_lens_text"> (Frame + Lens + Transition)</span></div>
    <div class="bottom_text">
      <div class="Skip btn xs-hide">Skip</div>
      <div class="Continue-dummy btn">Continue</div>
      <div class="Continue btn hide">Continue</div>
    </div>
  </div>
</div>
<div class="coating_lens_model_bg"></div>

<script>
  function functionanti() {      
    var newItemanti = document.createElement("li");
    //newItemanti.innerHTML = 'Transition Coating Available<span class="lensinfocontainer"> <img class="tooltipnew" alt="Coatinglens" src="https://static2.lenskart.com/media/mobile/universal/assets/ic_info.png" style="height: 14px;"><span class="tooltiptextnew"><p>Lenses darkens when exposed to sunlight</p><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Transition_Banner.png?v=1584081801" alt=""><span class="closetooltipnew">×</span></span></span>';
    newItemanti.innerHTML = 'X';
   
    var listanti = document.getElementById("desforanti");
    listanti.insertBefore(newItemanti, listanti.childNodes[3]);
  }  
  function functionblu() {      
    var newItem = document.createElement("li");
    var textnode = document.createTextNode("X");
    newItem.appendChild(textnode);

    var list = document.getElementById("desforblu");
    list.insertBefore(newItem, list.childNodes[3]);

  }  
  functionanti(); 
  functionblu();
  //setTimeout(function(){ functionanti(); functionblu(); }, 1000);
</script>