 {% if product.available %}

 {%- if tag_color != blank -%}
{% for variant in product.variants %}
{% assign count =  count | plus:1 %}

{% assign title = variant.title | handlieze %}
{% if title contains tag_color %}
{% if variant.available %} 
{%- assign v_count = v_count | plus:1 -%}

<li class="{{section.settings.product_row}} col-sm-4 col-xs-12 item" data-sku="{{variant.sku}}">
  <div class="main_content">
    {% include 'simply-product' %}
    {% include 'loading' %}
  </div>
</li>
{% endif %}
{% endif %}
{% endfor %}
{%- else -%}
{% assign current_variant = product.selected_or_first_available_variant %}
<li class="{{section.settings.product_row}} col-sm-4 col-xs-12 item" data-sku="{{ current_variant.sku }}" data-item='{{forloop.index}}'>
	<div class="main_content">
		{% include 'simply-product' %}
		{% include 'loading' %}
	</div>
</li>
{%- endif -%}
{%- endif -%}