{% if template contains 'product' %}
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
  var google_tag_params = {
    {% assign prodidarray = "," %}
    {% assign totalprice = 0 %}
    {% for item in product.variants limit: 1%}
    {% assign prodidarray = prodidarray | append : ','  | append: '"shopify_IN_' |  append : product.id | append : '_' | append : item.id | append : '"' %}
    {% assign totalprice = totalprice | plus : item.price %}
    {% endfor %}
    ecomm_prodid: [{{prodidarray | remove : ',,'}}],
    ecomm_pagetype: 'product',
    ecomm_totalvalue: {{totalprice  | money_without_currency | replace : ','}}
  };
</script>
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 863183917;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/863183917/?guid=ON&amp;script=0"/>
  </div>
</noscript>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87912173-1', 'auto');
  var ecomm_prodid = google_tag_params.ecomm_prodid;
  ga('set', 'dimension1', ecomm_prodid);
  var ecomm_pagetype = google_tag_params.ecomm_pagetype;
  ga('set', 'dimension2', ecomm_pagetype);
  var ecomm_totalvalue = google_tag_params.ecomm_totalvalue;
  ga('set', 'dimension3', ecomm_totalvalue);
  ga('send', 'pageview');
</script>


{% endif %}
{% if template contains 'cart' %}
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
  var google_tag_params = {
    {% assign prodidarray = "," %}
    {% for item in cart.items %}
    {% assign prodidarray = prodidarray | append : ','  | append: '"shopify_IN_' |  append : item.product_id | append : '_' | append : item.variant_id  | append : '"'  %}
    {% endfor %}
    ecomm_prodid: [{{prodidarray | remove : ',,'}}],
    ecomm_pagetype: 'cart',
    ecomm_totalvalue: {{cart.total_price   | money_without_currency | replace : ','}}
  };
</script>
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 863183917;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/863183917/?guid=ON&amp;script=0"/>
  </div>
</noscript>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87912173-1', 'auto');
  var ecomm_prodid = google_tag_params.ecomm_prodid;
  ga('set', 'dimension1', ecomm_prodid);
  var ecomm_pagetype = google_tag_params.ecomm_pagetype;
  ga('set', 'dimension2', ecomm_pagetype);
  var ecomm_totalvalue = google_tag_params.ecomm_totalvalue;
  ga('set', 'dimension3', ecomm_totalvalue);
  ga('send', 'pageview');
</script>

{% endif %}
{% if template contains 'checkout' %}
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
  var google_tag_params = {
    {% assign prodidarray = "," %}
    {% for item in cart.items %}
    {% assign prodidarray = prodidarray | append : ','  | append: '"shopify_IN_' |  append : item.product_id | append : '_' | append : item.variant_id  | append : '"'  %}
    
    {% endfor %}
    ecomm_prodid: [{{prodidarray | remove : ',,'}}],
    ecomm_pagetype: 'checkout',
    ecomm_totalvalue: {{cart.total_price   | money_without_currency | replace : ','}}
  };
</script>
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 863183917;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/863183917/?guid=ON&amp;script=0"/>
  </div>
</noscript>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87912173-1', 'auto');
  var ecomm_prodid = google_tag_params.ecomm_prodid;
  ga('set', 'dimension1', ecomm_prodid);
  var ecomm_pagetype = google_tag_params.ecomm_pagetype;
  ga('set', 'dimension2', ecomm_pagetype);
  var ecomm_totalvalue = google_tag_params.ecomm_totalvalue;
  ga('set', 'dimension3', ecomm_totalvalue);
  ga('send', 'pageview');
</script>

{% endif %}


{% if template contains 'order' %}
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
  var google_tag_params = {
    {% assign prodidarray = "," %}
    {% for item in checkout.line_items %}
    {% assign prodidarray = prodidarray | append : ','  | append: '"shopify_IN_' |  append : item.product_id | append : '_' | append : item.variant_id  | append : '"' %}
    {% endfor %}
    ecomm_prodid: [{{prodidarray | remove : ',,'}}],
    ecomm_pagetype: 'purchase',
    ecomm_totalvalue: {{ total_price   | money_without_currency | replace : ','}}
  };
</script>
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 863183917;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/863183917/?guid=ON&amp;script=0"/>
  </div>
</noscript>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87912173-1', 'auto');
  var ecomm_prodid = google_tag_params.ecomm_prodid;
  ga('set', 'dimension1', ecomm_prodid);
  var ecomm_pagetype = google_tag_params.ecomm_pagetype;
  ga('set', 'dimension2', ecomm_pagetype);
  var ecomm_totalvalue = google_tag_params.ecomm_totalvalue;
  ga('set', 'dimension3', ecomm_totalvalue);
  ga('send', 'pageview');
</script>

{% endif %}
