<!-- Blu Logic Starts -->
{% assign bluCollection = "best-seller-blue,blue-light-eyeglasses-with-zero-power,blue-light-blocking-eyeglasses,blue-light-eyeglasses-for-men,blue-light-eyeglasses-for-women,blue-light-eyeglasses-for-kids,blue-light-blocker-magnetic-clip-on-glasses" | split: ',' %}
{% assign collectionHandleVal = collection.handle %}
{% if bluCollection contains collectionHandleVal %}
	{% assign bluCounter = true %}
{% endif %}
<!-- Blu Logic Ends -->
{% assign short_name = false %}
{% for tag in product.tags %}
{% if tag contains 'short_name_' %}
{% assign short_name = true %}
{% assign s_name =  tag | remove : 'short_name_' %}
{% endif %}
{% endfor %}
{%- if short_name -%}
{%- assign product_name = s_name -%}
{%- else -%}
{%- assign product_name = product.title -%}
{%- endif -%}
<!-- simply-product -->
{% assign sale = false %}
{% if product.compare_at_price > product.price %}
{% assign sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
{% assign swtich_img = settings.switch_image %} 
{%- assign current_product_img = blank -%}

<div class="product_main{% if sold_out %} sold_out{% endif %} detail_{{product.id}}">
  <div class="{% unless no_height_alignment == true %}image{% endunless %}">
    <div class="relative {% unless no_height_alignment == true %}img{% endunless %}">     
      <a class="product_link" href="{{ product.url | within: collection }}" data-href="{{ product.url | within: collection }}">
        {% if template == 'search' %}
        {% for v in product.variants %}
        {% assign v_id = v.id %}
        {% assign v_sku = v.sku %}
        {% assign search_tearms = search.terms | escape %}  
        {% if v_sku == search_tearms %}
        <a class="product_link" href="{{ product.url | within: collection }}?variant={{v_id}}" data-href="{{ product.url | within: collection }}">
          {%- endif -%}
          {%- endfor -%} 
          {%- endif -%}

        {%- if product.available -%}
                {% if product.type == 'Contact Lens' %}
                     {% assign new_image = product.featured_image.src  %}
                        {%- assign alt_img_pos = product.images.position | plus:1 -%}
                {% else %}          
                {%- if product.available -%}
                        {% assign new_image = product.first_available_variant.image.src  %}
                        {%- assign alt_img_pos = product.first_available_variant.image.position | plus:1 -%}
                      {%- else -%}
                        {% assign new_image = product.featured_image.src  %}
                        {%- assign alt_img_pos = product.images.position | plus:1 -%}
               {%- endif -%}          
                {% endif %}
            {%- endif -%}
          
          {% assign tag_color = "" %}
          {% for t in current_tags %}
          {% if t contains 'Color_' %}
          {% assign tag_color = t | remove : 'Color_' | handlieze %}
          {% endif %}
          {% endfor %}
          {% if tag_color != blank %}

          {% for v in product.variants %}
          {% assign title = v.title | handlieze %}
          {% if title contains tag_color and v.image.src %}
          {% assign new_image = v.image.src  %}
          {%- assign alt_img_pos = v.image.position | plus:1 -%}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if template == 'search' %}
          {% for v in product.variants %}
          {% assign v_id = v.id %}
          {% assign v_sku = v.sku %}
          {% assign search_tearms = search.terms | escape %}  
          {% if v_sku == search_tearms %}       
          {% assign new_image = v.image.src  %}
          {%- assign alt_img_pos = v.image.position | plus:1 -%}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% assign src_name = new_image %}
          {% assign src_alt = product.featured_image.alt | escape %}
          {% assign src_class = 'product_img double_img' %}
          {% include 'srcset-img' %} 
          
          {%- assign current_product_img = src_name -%}
          {%- assign src_name = product.images[1].src -%}
          {%- assign src_alt = product.featured_image.src -%}
          {%- assign src_class= 'alter_img' -%}
          {% include 'srcset-img' %} 

          {%- unless template == 'search' -%}
           <div class="coll_ditto">
          <img src='' class='ditto_img' alt='' />
        </div>    
          {%- endunless -%}
        </a>
        	<div class="sold_out" style="width: 60px;height: 60px;color:#fff;border:1px solid #79b2ff;background:#79b2ff;">
          		<p>Buy1<br/>Get1<br>Free</p>
        	</div>
        {% if sold_out %} 
        {% if settings.sold_out_banner %}
        <div class="sold_out">
          <p>Sold <br/> out</p>
        </div>
        {% endif %}
        {% elsif sale %}
        {% if settings.on_sale_banner %}
        <div class="on_sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
          <p>Save <br/> {{saved_amount}}</p>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>

    {% unless no_text == true %}
    <div class="text {{ product.handle }}">
      
      <a href="{{ product.url | within: collection }}" class="product_link">
        <span class="product_title">
          {{product_name}}
        </span>
        {% if section.settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
        {% endif %}
      </a>
      
        {% assign frameprice = product.price %}
        {% assign lensprice = 5000 %}        
        {% assign lensframeprice = lensprice | plus: frameprice  %}
      
        {% assign frameprice2 = product.price %}
        {% assign lensprice2 = 1500 %}        
        {% assign lensframeprice2 = lensprice2 | plus: frameprice2  %}

        <span class="product_price">
        
         {% if collection.handle == 'transition-eyeglasses'%}
            {{ lensframeprice | money }}
        
         {% elsif collection.handle == 'prescription-sunglasses' or collection.handle == 'blue-light-blocking-eyeglasses' or collection.handle == 'blue-light-eyeglasses-for-men' or collection.handle == 'blue-light-eyeglasses-for-women' or collection.handle == 'blue-light-eyeglasses-for-kids' or collection.handle =='best-seller-blue' or collection.handle == 'blue-light-eyeglasses-with-zero-power' %}
            {{ lensframeprice2 | money }}
        
        {% else %}
          	<span class="orignal">
              {{- product.price | money_without_trailing_zeros  -}}
            </span>
        {% endif %} 
        

        {% if settings.compare_price %}
        {% if sale %}
        <span class="compare">
          {{- product.compare_at_price | money_without_trailing_zeros | replace: ',','' -}}
        </span>
        {% endif %}
        {% endif %}

        {% if product.type == 'Eyeglasses' %}
        {% if settings.after_hour %}
        <br/>
        {% endif %}
        {% comment %}
        <span class="note">
          ( including prescription lenses )
        </span>
        {% endcomment %}
        {% endif %}
      </span>

      {% unless settings.after_hour %}
      {% unless product.tags contains 'nodiscount' %}
      <div class="bogo">
        {% if product.type == 'Eyeglasses' %}
        With prescription Lenses
        {% comment %}
        {% unless collection.handle == 'transition-eyeglasses' or collection.handle == 'blue-light-blocking-eyeglasses'%}
        With Blue Light Block Lenses
        {% endunless %}
        {% endcomment %}
        {%- endif -%}
      </div>
      {% endunless %}
      {% endunless %}      
     <div class="wlicon_collpg" onclick="addwishlistcallcollctn('wlproduct_{{ product.id }}', '{{ product.handle }}', 'detail_{{product.id}}');"><img src="{{ 'wishlist_g.png' | asset_img_url: '22x'}}" /></div>
	 <div class="wlicon_collpg_active" onclick="removewishlistcallcollctn('wlproduct_{{ product.id }}', '{{ product.handle }}', 'detail_{{product.id}}');"><img src="{{ 'wishlist_new.png' | asset_img_url: '22x'}}" /></div>
      {% if template == 'index' %}
      <div class="shop_now">
        <a href="{{ product.url | within: collection }}" class="btn">Shop Now</a>
      </div>
      {% endif %}
    </div>
    {% endunless %}    
  </div>