<div class="content">
  <p class="toggle">Sort by
    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
  </p>
  <div class="filter_data">
    <ul class="advanced-filters sort_list {{class}}">
      <li data-sort="manual">
        <a href="{{collection.url}}?sort_by=manual">
          Featured
        </a>
      </li>
      <li  data-sort="price-ascending">
        <a href="{{collection.url}}?sort_by=price-ascending">
          Price: Low to High
        </a>
      </li>
      <li  data-sort="price-descending">
        <a href="{{collection.url}}?sort_by=price-descending">
          Price: High to Low
        </a>
      </li>
      <li  data-sort="title-ascending">
        <a href="{{collection.url}}?sort_by=title-ascending">
          A-Z
        </a>
      </li>
      <li  data-sort="title-descending">
        <a href="{{collection.url}}?sort_by=title-descending">
          Z-A
        </a>
      </li>
      <li data-sort="created-ascending">
        <a href="{{collection.url}}?sort_by=created-ascending">
          Oldest to Newest
        </a>
      </li>
      <li data-sort="created-descending">
        <a href="{{collection.url}}?sort_by=created-descending">
          Newest to Oldest
        </a>
      </li>
      <li data-sort="best-selling">
        <a href="{{collection.url}}?sort_by=best-selling">
          Best Selling
        </a>
      </li>
    </ul>
  </div>
</div>