{% include 'spt_cssjs'%}
{% if product.metafields.simplyproducttab.type %}
{% assign tabcount = product.metafields.simplyproducttab.no_of_tabs %}
<div class="spt-box-container" data-format="{{product.metafields.simplyproducttab.type}}">
  <div class="spt-box" data-format="{{product.metafields.simplyproducttab.type}}">
    <ul class="spt-tabs"  {% if product.metafields.simplyproducttab.type contains 'TAB' %} {% else %}style="display:none;" {% endif %}>
      {% for i in (1..tabcount) %}
      {% assign c = i %}
      {% assign title = 'tab_' | append : c | append : '_title' %}
      <li class="spt-tab-title"><a href="#spt-tab-{{i}}">{{product.metafields.simplyproducttab[title]}}</a></li>
      {% endfor %}
    </ul>
    <ul class="spt-tab-desc" data-format="{{product.metafields.simplyproducttab.type}}">
      {% for i in (1..tabcount) %}
      {% assign c = i %}
      {% assign title = 'tab_' | append : c | append : '_title' %}
      {% assign description = 'tab_' | append : c | append : '_description' %}
      <li id="spt-tab-{{i}}">
        <h5 class="spt-title">{{product.metafields.simplyproducttab[title]}}</h5>
        <div class="spt-desc sp-fix">
          {{product.metafields.simplyproducttab[description]}}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
    {% if product.type == 'Contact_Lens_Medical' %}
        <div class="description-container">
           {{product.description}}
          
          </div>
        {% else %}
        
        {{product.description}}
        
        {% endif%}
{% endif %}