{% comment %}
<style>
  {%- for block in section.blocks -%}
  .festival_season #section_{{block.id}}.festival_block{
    background-image:url({{block.settings.bg_image | img_url:'master' |format:'pjpg' }});
    background-repeat:no-repeat;
    background-size:cover;
    padding: 40px 0;
  }
  @media(max-width:767px){
    .festival_season #section_{{block.id}}.festival_block{
      background-image:url({{block.settings.bg_mob_image | img_url:'master' |format:'pjpg' }});
      background-repeat:no-repeat;
      background-size:cover;
      padding: 40px 0;
    }
  }
  {%- endfor -%}
</style>
{% endcomment %}
<div class="festival_season">
  <div class='header_banner'>
    {% unless section.settings.header_image == blank %}
    {% assign src_name = section.settings.header_image %}
    {% assign src_alt = 'Banner' %}
    {% assign src_class = 'xs-hide' %}
    {%- include 'srcset-img' -%}
    
    {% assign src_name = section.settings.header_image_xs %}
    {% assign src_class = 'xs-show' %}
    {%- include 'srcset-img' -%}
    {% endunless %}
    {% assign src_class = blank %}
    
  </div>
  {%- for block in section.blocks-%}
  <div class="festival_block" id="section_{{block.id}}">
    <div class="block clearfix">
      <div class="block_1">
        <div class="img_block">
          {%- assign src_name = block.settings.letter_image -%}
          {%- include 'srcset-img' -%}
        </div>
      </div>
      <div class="block_2">
        <div class="txt_block clearfix">
          <div class="txt_1">
            <div class="text-wrapper">
              <p>{{block.settings.header_text}}</p>
              <hr class="hr">
              <span>{{block.settings.sub_text}}</span>
            </div>
          </div>
          <div class="txt_2">
            <div class="glass_block">
              {%- assign src_name = block.settings.glass_image -%}
              {%- include 'srcset-img' -%}
            </div>
          </div>
        </div>
        <div class="product_block">
          {%- for i in (1..3) -%}
          {%- assign prod_name = "prod_img_" | append : i -%}
          {%- assign prod_url = "prod_url_" | append : i -%}
          {%- assign prod_btn = "prod_btn_" | append : i -%}
          {% assign product = block.settings[prod_name] %}
          {% assign product_url = block.settings[prod_url] %}
          {% assign product_btn = block.settings[prod_btn] %}
          <div class="product_img">
            <a href="{{product_url}}" class="product_a">
            <img src="{{ product | img_url : 'master'}}">
            </a>
            <a class="btn product_btn" href="{{product_url}}">{{product_btn}}
            </a>
          </div>
          {%- endfor -%}
        </div>
      </div>

    </div>
    <img src="{{block.settings.bg_image | img_url:'master' }}" class="bg_image img">
    <img src="{{block.settings.bg_mob_image | img_url:'master' }}" class="bg_mob_image img">
  </div>
  {%- endfor -%}

</div>



{%-  comment -%}
<script>
  {%- endcomment -%}
  {% schema %}
  {
    "name": "Festival Page",
      "class":"no_padding",
        "settings": [
          {
            "type": "checkbox",
            "label": "Full-width",
            "id": "full",
            "info":"Use same size images for better result"
          },
          {
            "type":"image_picker",
            "id":"header_image",
            "label":"Header image - Desktop"
          },
                    {
            "type":"image_picker",
            "id":"header_image_xs",
            "label":"Header image - mobile"
          }
        ],
          "blocks": [
            {
              "type": "image",
              "name": "Image",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "bg_image",
                  "label": "Background image for desktop"
                },
                {
                  "type": "image_picker",
                  "id": "bg_mob_image",
                  "label": "Background image for mobile"
                },
                {
                  "type":"header",
                  "content":"Right section"
                },
                {
                  "type": "image_picker",
                  "id": "letter_image",
                  "label": "Letter image"
                },
                {
                  "type":"header",
                  "content":"Left section"
                },
                {
                  "type": "image_picker",
                  "id": "glass_image",
                  "label": "Glass image"
                },
                {
                  "type": "text",
                  "label": "Header text",
                  "id": "header_text"
                },
                {
                  "type": "textarea",
                  "label": "Sub-header text",
                  "id": "sub_text"
                },
                {
                  "type":"header",
                  "content":"Product section"
                },
                {
                  "type": "image_picker",
                  "id": "prod_img_1",
                  "label": "Product image 1"
                },
                {
                  "type": "text",
                  "id": "prod_btn_1",
                  "label": "Product button 1"
                },
                {
                  "type": "text",
                  "id": "prod_url_1",
                  "label": "Product url 1"
                },
                {
                  "type": "image_picker",
                  "id": "prod_img_2",
                  "label": "Product image 2"
                },
                {
                  "type": "text",
                  "id": "prod_btn_2",
                  "label": "Product button 2"
                },
                {
                  "type": "text",
                  "id": "prod_url_2",
                  "label": "Product url 2"
                },
                {
                  "type": "image_picker",
                  "id": "prod_img_3",
                  "label": "Product image 3"
                },
                {
                  "type": "text",
                  "id": "prod_btn_3",
                  "label": "Product button 3"
                },
                {
                  "type": "text",
                  "id": "prod_url_3",
                  "label": "Product url 3"
                }
              ]
            }
          ]
  }
  {% endschema %}
  {%-  comment -%}
</script>
{%- endcomment -%}

{%- comment -%}
<style>
  {%- endcomment-%}
  {%- comment -%}
</style>
{%- endcomment-%}

