<style>
   #extra_product label{
      background:url({{'radio-btn.png' | asset_url}}) no-repeat;
      background-size: 12px;
      background-position:0 2px;
    }
    #extra_product label.active{
      background-position-y: -20px;
    } 
  
</style>
<div id="extra_product" class="hide items">
  {%- comment -%}
  <div class="container">
    <div class="text-center">
      <h5 class="main_page_title">
        Select your combined power range
        and accordingly we will recommend 
        the best lens for you.
      </h5>
    </div>

  </div>
  <hr/>
  {%- endcomment -%}
  <div class=""> 
    {%- comment -%}
    <div class="pw_filter">
      <ul class="row">
        <li class="col-md-4 col-sm-6">
          <input type="radio" id="pwf_1"  name="pwf">
          <label for="pwf_1" class="pwf active" data-target="power_product_1">Oops! I don't know yet!</label>
        </li>
        <li class="col-md-4 col-sm-6">          
          <input type="radio" id="pwf_2"  name="pwf">
          <label for="pwf_2" class="pwf" data-target="power_product_2">0 <i class="fa fa-long-arrow-right" aria-hidden="true"></i> +/- 3 </label>
        </li>
        <li class="col-md-4 col-sm-6">
          <input type="radio" id="pwf_3" name="pwf" >
          <label for="pwf_3" class="pwf" data-target="power_product_3">3.25 <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  above </label>
        </li>
      </ul>
      <hr/>
    </div>
    {%- endcomment -%}
    <div class="lens_table">
      <div class="table_view  xs-hide thead">
        <div class ='col lens'>
          <h5>{{section.settings.name}}</h5>
        </div>
        <div class='col price'>
          <h5>
            {{section.settings.price}}
          </h5>
        </div>
        <div class='col thickness'>
          <h5>{{section.settings.index}}</h5>
        </div>
        <div class='col for_me'>
          <h5>{{section.settings.lens1}}</h5>
        </div>
        <div class='col checkout'>
          <h5 class="no_right_border">{{section.settings.lens2}}</h5>
        </div>

      </div>
      <div class="tbody">
        {% for block in section.blocks %}
        {% assign product = all_products[block.settings.product] %}
        {% assign target_tag = '' %}
        {% for tag in product.tags %}
        {% if tag contains 'power_product_' %}
        {% assign target_tag =  target_tag | append: ' ' | append : tag  %}
        {% endif %}
        {% endfor %}
        <div class="table_view tbody_wrapper power_product product_{{product.handle}} {{target_tag}}">
          <h3 class="header xs-show">
            {{block.settings.name}} <span class="side_btn">
              {% if forloop.index == 1 %}
              <i class="fa fa-minus" aria-hidden="true"></i>
              {% else %}
            <i class="fa fa-plus" aria-hidden="true"></i>
            {% endif %}
            </span>
          </h3>
          <div class="content">
            <div class="col lens">

              <h6>
                <span class="xs-show">
                  {{section.settings.name}} - 
                </span>
                {{block.settings.name}} 
              </h6>
            </div>
            <div class='col price'>
              <h6>
                <span class="xs-show">
                  {{section.settings.price}} - 
                </span>
                {{block.settings.price}}
              </h6>
            </div>
            <div class='col thickness'>
              <p>
                <span class="xs-show">
                  {{section.settings.index}} - 
                </span>
                {{block.settings.thickness}}
              </p>
            </div>
            <div class='col for_me'>
              <p>
                <span class="xs-show">
                  {{section.settings.lens1}} - 
                </span>
                {{block.settings.description}}
              </p>
            </div>
            <div class='col checkout'>
              <div class="cart_extra_product" data-target="{{main_product_id}}"
                   data-product="{{product.title}}"
                   data-id="{{product.variants[0].id}}" 
                   data-price="{{product.variants[0].price | money}}">
                <h6 ><label class="lens_input" data-name='{{product.handle}}' data-vid='{{product.variants[0].id}}'>Select</label></h6>
                {%- comment -%}
                <div class="xs-show">
                  <a class="btn" type="button">
                    Proceed to checkout
                  </a>
                </div>
                {%- endcomment -%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %}
<style>
  {% endcomment %}
  {% comment %}
</style>
{% endcomment %}
{% comment %}
<script>
  {% endcomment %}
  {% schema %}
  {
    "name": "Eyeglass Lens",
      "class": "no_padding",
        "max_blocks": 4,
          "settings": [
            {
              "type": "header",
              "content": "Index items"
            },
            {
              "type": "text",
              "label": "Name",
              "id": "name",
              "default": "Lenses"
            },
            {
              "type": "text",
              "label": "Price",
              "id": "price",
              "default": "Price"
            },
            {
              "type": "text",
              "label": "Option 1",
              "id": "index",
              "default": "Index"
            },
            {
              "type": "text",
              "label": "Option 2",
              "id": "lens1",
              "default": "Anti-Galre Coating"
            },
            {
              "type": "text",
              "label": "Option 3",
              "id": "lens2",
              "default": "Shatter Resisant"
            }

          ],
            "blocks": [
              {
                "type": "text",
                "name": "Info",
                "settings": [
                  {
                    "type": "product",
                    "label": "Select Product",
                    "id": "product"
                  },
                  {
                    "type": "image_picker",
                    "label": "Logo image",
                    "id": "logo_img"
                  },
                  {
                    "type": "textarea",
                    "label": "Name",
                    "id": "name"
                  },
                  {
                    "type": "text",
                    "label": "Price",
                    "id": "price",
                    "default": "Price"
                  },
                  {
                    "type": "text",
                    "label": "Thickness",
                    "id": "thickness"
                  },
                  {
                    "type": "textarea",
                    "label": "Description",
                    "id": "description"
                  }

                ]
              }
            ]
  }
  {% endschema %}
  {% comment %}
</script>
{% endcomment %}