{% unless section.settings.bg_image == null %}
<style>
  body.template-password{
        position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:1;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
     rgba(86, 85, 85, 0.83)
    ),
      url({{section.settings.bg_image | img_url : '1024x1024' | format : 'jpg'}});
    background-repeat:no-repeat;
      background-size:cover;
    background-color:#fff;
  }
</style>
{% endunless %}
<header class="header">
  {% if section.settings.logo == blank %}
  <h1> {{shop.name}}</h1>
  {% else %}
  <div class="logo">
    <img src="{{section.settings.logo | img_url : 'large' | format : 'png'}}">
  </div>
  {% endif %}
  
</header>
<hr/>
<div class="password-main text-center" role="main">
  <h2>{{ section.settings.header }}</h2>

  {% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
  {% endunless %}

  {% if section.settings.newsletter_enable %}
  {% comment %}
  Signup form
  {% endcomment %}
  <div class="password-signup-form">
    {% form 'customer' %}
    <div class="form_vertical">
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
      <ul class="form--success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
      {% else %}
      <p>{{ section.settings.newsletter_form_heading }}</p>
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <input type="email" name="contact[email]" id="Email" placeholder="{{ section.settings.newsletter_placeholder }}"><br/>
      <button type="submit" name="commit" class="btn">
        {{ section.settings.newsletter_button_text }}
      </button>
      {% endif %}
    </div>
    {% endform %}
  </div>

  {% endif %}

  {% if section.settings.show_share_buttons %}

  {% comment %}
  Share homepage URL
  Shared text is from the store meta description
  {% endcomment %}
  {% if settings.share_facebook or settings.share_twitter or settings.share_google %}
  <p>
    {{ section.settings.social_message }}
  </p>
  {% include 'social-share' %}
</div>
{% endif %}

{% endif %}

{% comment %}
Link to password modal
{% endcomment %}
<div class="password_login">
  <a href="#LoginPassword" class="fancybox">
    {{ 'general.password_page.password_link' | t }} &rarr;
  </a>
</div>
<div id="LoginPassword" class="text-center">
  <p>{{ 'general.password_page.login_form_heading' | t }}</p>
  <div class="form_vertical">
    {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
      <input type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"><br/>
        <button type="submit" name="commit" class="btn">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
    {% endform %}
  </div><br/>
  <p>{{ 'general.password_page.admin_link_html' | t }}</p>
</div>
{% schema %}
{
  "name": "Content",
  "class": "password-content-section password-page-section",
  "settings": [
	{
      "type": "image_picker",
      "label": "Logo image",
      "id": "logo"
    },
    {
      "type": "image_picker",
      "label": "Background image",
      "id": "bg_image"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open",
      "info": "[Tell your visitors about a launch day discount](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Your email"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Submit"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
